@charset "UTF-8";

:root {
    --color-1: white;
    --color-2: rgb(243, 243, 243);
    --color-3: rgb(46, 46, 46);
    --color-4: rgb(0, 0, 0);
    --color-5: rgb(255, 0, 0);
    --color-6: rgb(161, 0, 0);

}

.darktheme {
    --color-1: rgb(14, 14, 14);
    --color-2: rgb(26, 26, 26);
    --color-3: white;
    --color-4: rgb(243, 243, 243);
    --color-5: rgb(204, 0, 0);
    --color-6: rgb(255, 0, 0);
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--color-3);
}

html, body {
    height: 100%;
    width: 100%;
    background-color: var(--color-2);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    background-color: var(--color-5);
}

header a {
    text-decoration: none;
}

header #logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

header #logo .material-symbols-outlined {
    font-size: 32px;
    color: var(--color-1);
    transition: transform 0.5s ease;
}

header #logo .material-symbols-outlined:active {
    color: var(--color-2);
}

header #logo .material-symbols-outlined:hover {
    transform: scale(1.2) rotate(360deg);
}

header ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header li {
    display: flex;
    justify-content: center;
    align-items: center;
}

header #menu .material-symbols-outlined{
    font-size: 24px;
    padding: 10px;
    color: var(--color-1);
    transition: color 0.5s ease, transform 0.5s ease;
}

header #menu .material-symbols-outlined:active{
    color: var(--color-2);
}

header #menu .material-symbols-outlined:hover{
    transform: rotate(360deg);
}

/* main - normal */

main {
    max-width: 1300px;
    margin: auto;
}

/* main - home */

#homejavascript {
    display: grid;
    grid-template-columns: 24px 1fr 24px 1fr 24px;
    grid-template-rows: 160px 24px 190px;
    margin: 24px 0px;
}

#homejavascript > article {
    background-color: var(--color-1);
    padding: 16px 16px;
    border-radius: 16px;
    transition: transform 0.5s ease, color 0.5s ease, box-shadow 0.5s ease;
}

#homejavascript > .gridtop {
    grid-column: 2 / 5;
    grid-row: 1 / 2;
}

#homejavascript > .gridleft {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#homejavascript > .gridright {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#homejavascript > article:hover, #homejavascript2 > article:hover {
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.281);
    transform: translateY(-8px);
}

#homejavascript > article h2 > a, #homejavascript2 > article h2 > a {
    text-decoration: none;
    transition: color 0.5s ease;
}

#homejavascript > article:hover h2 > a, #homejavascript2 > article:hover h2 > a {
    color: var(--color-5);
}

#homejavascript > article h2:hover > a, #homejavascript2 > article h2:hover > a{
    color: var(--color-6);
}

#homejavascript > article h3 a, #homejavascript > article p a, #homejavascript2 > article h3 a {
    text-decoration: none;
    font-style: italic;
    color: var(--color-5);
    transition: color 0.5s ease;;
}

#homejavascript > article a:hover {
    color: var(--color-6);
}

/* Homejavascript2 */

#homejavascript2 {
    display: grid;
    grid-template-columns: 14px 1fr 1fr 1fr 1fr 14px;
    grid-template-rows: 48px 94px;
    gap: 10px;
}

#homejavascript2 > article {
    background-color: var(--color-1);
    padding: 16px 16px;
    font-size: 10px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease, color 0.5s ease, box-shadow 0.5s ease;
}

#homejavascript2 > h1 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    
}

#homejavascript2 > #hometreino1 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    
}

#homejavascript2 > #hometreino2 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

#homejavascript2 > #hometreino3 {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}

#homejavascript2 > #hometreino4 {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
}


@media screen and (min-width: 800px) {
    #homejavascript {
        display: grid;
        grid-template-columns: 24px 2fr 24px 1fr 24px 1fr 24px;
        grid-template-rows: 190px;
    }
    #homejavascript > .gridtop {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    #homejavascript > .gridleft {
        grid-column: 4 / 5;
        grid-row: 1 / 2;
    }

    #homejavascript > .gridright {
        grid-column: 6 / 7;
        grid-row: 1 / 2;
    }
}